body {
    direction: rtl;
    background-color: #ebebeb;
    color: #1a1818;
}

form {
    margin: auto;
    width: 250px;
    justify-content: baseline;
    margin-bottom: 20px;
}

label {
    display: block;
    width: fit-content;
    margin-right: auto;
    margin-bottom: 5px;
}

button {
    padding: 5px;
    border-radius: 2px;
}